<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.biz.rent.persistence.BookDTO"
			alias="BookDTO" />
		<typeAlias type="com.biz.rent.persistence.RentDTO"
			alias="RentDTO" />
		<typeAlias type="com.biz.rent.persistence.UserDTO"
			alias="UserDTO" />
	</typeAliases>
	<environments default="oracleConnection" >
		<environment id="oracleConnection" >
			<transactionManager type="JDBC" >
			</transactionManager>
			<dataSource type="POOLED" >
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="user1" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments>
	<mappers >
		<mapper resource="com/biz/iolist/mybatis/mapper/book-mapper.xml"/>
		<mapper resource="com/biz/iolist/mybatis/mapper/user-mapper.xml"/>
		<mapper resource="com/biz/iolist/mybatis/mapper/rent-mapper.xml"/>
	</mappers>
</configuration>