<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biz.rent.dao.RentDao">
	<select id="selectAll" resultType="RentDTO">
		select * from tbl_rent_book
	</select>
	<select id="findById" resultType="RentDTO">
		select * from tbl_rent_book
		where
		RENT_SEQ=#{RENT_SEQ}
	</select>
	<select id="findByBCode" resultType="RentDTO">
		select * from tbl_rent_book
		where
		RENT_BCODE = #{RENT_BCODE}
	</select>
	<select id="findByUCode" resultType="RentDTO">
		select * from tbl_rent_book
		where
		RENT_UCODE = #{RENT_UCODE}
	</select>

	<insert id="insert" parameterType="RentDTO">
		insert into tbl_rent_book
		(RENT_SEQ,
		RENT_DATE,
		RENT_RETURN_DATE,
		RENT_BCODE,
		RENT_UCODE,
		RENT_RETUR_YN,
		RENT_POINT)
		values(
		SEQ_TBL_RENT_BOOK.NEXTVAL,
		#{rent_date,jdbcType=VARCHAR},
		#{rent_return_date,jdbcType=VARCHAR},
		#{rent_bcode,jdbcType=VARCHAR},
		#{rent_ucode,jdbcType=VARCHAR},
		#{rent_retur_yn,jdbcType=VARCHAR},
		#{rent_point,jdbcType=VARCHAR})
	</insert>
	<update id="update" parameterType="RentDTO">
		update tbl_rent_book set
		RENT_DATE=#{rent_date,jdbcType=VARCHAR},
		RENT_RETURN_DATE=#{rent_return_date,jdbcType=VARCHAR},
		RENT_BCODE=#{rent_bcode,jdbcType=VARCHAR},
		RENT_UCODE=#{rent_ucode,jdbcType=VARCHAR},
		RENT_RETUR_YN=#{rent_retur_yn,jdbcType=VARCHAR},
		RENT_POINT=#{rent_point,jdbcType=VARCHAR}
		where RENT_SEQ=#{rent_seq}
	</update>
	<delete id="delete" parameterType="RentDTO">
		delete from tbl_rent_book
		where RENT_SEQ=#{rent_seq}
	</delete>
</mapper>